.t1 {
  animation: breathe 5s ease-in-out forwards;
}

.t2 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 5s;
}

.t3 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 10s;
}

.t4 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 15s;
}

.t5 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 20s;
}

.t6 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 25s;
}

.t7 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 30s;
}

.t8 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 35s;
}

.t9 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 40s;
}

.t10 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 45s;
}

.t11 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 50s;
}

.t12 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 55s;
}

.t13 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 60s;
}

.t14 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 65s;
}

.t15 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 70s;
}

.t16 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 75s;
}

.t17 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 80s;
}

.t18 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 85s;
}

.t19 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 90s;
}

.t20 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 95s;
}

.t21 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 100s;
}

.t22 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 105s;
}

.t23 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 110s;
}

.t24 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 115s;
}

.t25 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 120s;
}

.t26 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 125s;
}

.t27 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 130s;
}

.t28 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 135s;
}

.t29 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 140s;
}

.t30 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 145s;
}

.t31 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 150s;
}

.t32 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 155s;
}

.t33 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 160s;
}

.t34 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 165s;
}

.t35 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 170s;
}

.t36 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 175s;
}

.t37 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 180s;
}

.t38 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 185s;
}

.t39 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 190s;
}

.t40 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 195s;
}

.t41 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 200s;
}

.t42 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 205s;
}

.t43 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 210s;
}

.t44 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 215s;
}

.t45 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 220s;
}

.t46 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 225s;
}

.t47 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 230s;
}

.t48 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 235s;
}

.t49 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 240s;
}

.t50 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 245s;
}

.t51 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 250s;
}

.t52 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 255s;
}

.t53 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 260s;
}

.t54 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 265s;
}

.t55 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 270s;
}

.t56 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 275s;
}

.t57 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 280s;
}

.t58 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 285s;
}

.t59 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 290s;
}

.t60 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 295s;
}

.t61 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 300s;
}

.t62 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 305s;
}

.t63 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 310s;
}

.t64 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 315s;
}

.t65 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 320s;
}

.t66 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 325s;
}

.t67 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 330s;
}

.t68 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 335s;
}

.t69 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 340s;
}

.t70 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 345s;
}

.t71 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 350s;
}

.t72 {
  opacity: 0;
  animation: breathe 5s ease-in-out forwards;
  animation-delay: 355s;
}

.beacon {
  position: fixed;
  position: -webkit-fixed;
  bottom: 60px;
  margin: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.separator {
  width: 1px;
  height: 54px;
  background: #0D0F1450;
  margin-left: 2px;
  margin-right: 2px;
}

@keyframes breathe {
  0% {
    opacity: 0;
    display: block;
  }

  50% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.pause {
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
  animation-play-state: paused !important;
}
